/* TABLES */
tr.text-danger td {
	text-decoration: line-through;
}

/* THEMES */
.themes *{
	transition: 0.5s ease;
}
.themes {
	position: fixed;
	top: 70px;
	left: 0;
	//color: #ffffff;
	text-align: left;
	z-index: 999;

	.themes-btn {
		color: #333;
		//background: white;
		box-shadow: 3px 3px 0 -2px rgba(0,0,0,0.2);
		border-radius: 0 0 25px 0;
		font-weight: 700;

		float: right;
		cursor: pointer;
		border-top-right-radius: 25px !important;
		border-bottom-right-radius: 25px;
		padding: 7px 10px;

		&:hover {
			box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.56);
		}
	}

	.colors {
		float: left;
		padding: 10px;
		background: rgba(0,0,0,0.5);
		border-radius: 0 0 10px 0;
		margin-left: -300px;
	}

}
.themes .colors {
	float: left;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	border-radius: 0 0 10px 0;
	margin-left: -300px;

	h3 {
		font-size: 15px;
		font-weight: 700;
		text-transform: capitalize;
		margin-bottom: 7px;
	}

	&.active {
		margin-left: 0;
	}

	ul li {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 2px;
		cursor: pointer;
		border-radius: 50%;
		border-width: 2px;
		border-style: solid;
		border-color: white;

		&:hover {
			filter: alpha(opacity=80);
			opacity: 0.8;
		}
	}

	.light {
		background: #efefef;
		color: #efefef;
	}
	.dark {
		background: #1f1f1f;
		color: #1f1f1f;
	}

	.accent-colors {

		li:nth-child(1) {
			background: #03A9F4;
			color: #03A9F4;
		}

		li:nth-child(2) {
			background: #9C27B0;
			color: #9C27B0;
		}

		li:nth-child(3) {
			background: #E91E63;
			color: #E91E63;
		}

		li:nth-child(4) {
			background: #F44336;
			color: #F44336;
		}

		li:nth-child(5) {
			background: #FF9800;
			color: #FF9800;
		}

		li:nth-child(6) {
			background: #8BC34A;
			color: #8BC34A;
		}

		li:nth-child(7) {
			background: #364850;
			color: #364850;
		}

		li:nth-child(8) {
			background: #666666;
			color: #666666;
		}

		li:nth-child(9) {
			background: #1f1f1f;
			color: #1f1f1f;
		}

	}
}

/* BADGES */
.badge.badge-users-admin {
	color: #fff;
	background-color: #F44336;
}
.badge.badge-users-members {
	color: #fff;
	background-color: #007bff;
}
.badge.badge-users-redactor {
	color: #fff;
	background-color: #8BC34A;
}